@using BAL.ProductoParaVender;
@{
    ViewBag.Title = "MostrarCarrito";
}
<link href="~/Content/Diseños/tarjetas.css" rel="stylesheet" />

<div class="containerCards cars">
    @if (Model.Count > 0)
    {
        foreach (var auto in AutosAVender.listaAutosAVender)
        {
    <div class="card">
        <div class="content cars">
            <img src="~/Content/img_cars/blackCar.jpg">
        </div>
        <h5>@auto.Marca @auto.Modelo</h5>
        @if (@auto.Cantidad > 1)
        {
            <p>@auto.Cantidad autos por @auto.Precio C/U</p> }
        else
        {
            <p>@auto.Cantidad auto por @auto.Precio C/U</p>
        }

        <p>Precio total $ @auto.SubTotal</p>
        <button class="btn btn-danger"
                onclick="window.location.href='/Vender/EliminarElementoDeLaLista?id='+@auto.Id">
            Quitar del carrito
        </button>
    </div>

        }
    }

</div>

<center>

    <h4 style="color: #dc3545">Total: $ @AutosAVender.TotalAPagar</h4>


    <button class="btn btn-primary" id="BtnRealizarVenta"
            onclick="window.location.href = '/Vender/Vender'">
        Comprar
    </button>

    <button class="btn btn-success"
            onclick="window.location.href = '/Ventas/MostrarVentas'">
        Ver compras
    </button>


</center>