@using DAL.Models;
@model List<tabInventario>
@{
    ViewBag.Title = "MostrarCarrito";
    var misAutos = ViewBag.ListaCarrito;
}
<link href="~/Content/Diseños/tarjetas.css" rel="stylesheet" />

<div class="containerCards cars">
    @if (Model.Count() > 0)
    {
        foreach (var auto in Model)
        {
            foreach (var carrito in misAutos)
            {
                if (carrito.FkAuto == auto.fk_auto)
                {
    <div class="card">
        <div class="content cars">
            <img src="~/Content/img_cars/@auto.Image">
        </div>
        <h5>@auto.MarcaAuto @auto.ModeloAuto</h5>
        @if (@auto.existenciaProducto > 1)
        {
            <p>@auto.existenciaProducto autos por @auto.precio C/U</p> }
        else
        {
            <p>@auto.existenciaProducto auto por @auto.precio C/U</p>
        }

        @*<p>Precio total $ @auto.SubTotal</p>*@
        <button class="btn btn-danger"
                onclick="AlertaDelete('/Carrito/EliminarElementoDeLaLista?id=' +@carrito.FkAuto)">
            Quitar del carrito
        </button>
    </div>

                }
            }
        }
    }

</div>

<center>

    @*<h4 style="color: #dc3545">Total: $ @AutosAVender.TotalAPagar</h4>*@


    <button class="btn btn-primary" id="BtnRealizarVenta"
            onclick="window.location.href = '/Carrito/Vender'">
        Comprar
    </button>

</center>