@using DAL.Models;
@model tabProveedores
@{
    ViewBag.Title = "EditOrAddProveedores";
}
<link href="~/Content/Diseños/formularios.css" rel="stylesheet" />

            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.idProveedor)
<div class="formulario proveedores" style="height: 400px !important">
    @if (Model.idProveedor > 0)
    {
        <h3>Editar proveedor</h3>
    }
    else
    {
        <h3>Agregar proveedor</h3>
    }

    <label>Nombre: </label>
    @Html.TextBoxFor(x => x.proveedor, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.proveedor, null, new { @class = "text-danger" })
    <label>Teléfono: </label>
    @Html.TextBoxFor(x => x.telefono, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.telefono, null, new { @class = "text-danger" })
    <label>Dirección: </label>
    @Html.TextBoxFor(x => x.direccion, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.direccion, null, new { @class = "text-danger" })


    @if (Model.idProveedor > 0)
    {
        <input type="submit" value="Guardar" />
    }
    else
    {
        <input type="submit" value="Registrar" />
    }
</div>
            }
