@using DAL.Models;
@model tabAutos
@{
    ViewBag.Title = "AgregarOEditarAutos";
}
<link href="~/Content/Diseños/formularios.css" rel="stylesheet" />

@using (Html.BeginForm("AgregarOEditarAutos", "Inventario", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.idAuto)
<div class="formulario auto">
    @if (Model.idAuto > 0)
    {
        <h3>Editar auto</h3>
        @Html.HiddenFor(x => x.imagen, new { @class = "text-danger" })
    }
    else
    {
        <h3>Agregar auto</h3>
        @Html.HiddenFor(x => x.imagen, new { @class = "text-danger", @Value = "0" })
    }
    <div class="inputs marca-model">
        <div class="marca">
            <label>
                Marca:
                @Html.DropDownListFor(x => x.fk_marca, (IEnumerable<SelectListItem>)ViewBag.listaMarcas, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.fk_marca, null, new { @class = "text-danger" })
            </label>
        </div>
        <div class="modelo">
            <label>
                Modelo:
                @Html.TextBoxFor(x => x.modelo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.modelo, null, new { @class = "text-danger" })
            </label>
        </div>
    </div>
    <div style="width: 280px; margin-bottom: 0px" class="custom-file">
        <input id="img" type="file" name="imagen" class="custom-file-input">
        <label style="text-align: left" for="img" class="custom-file-label text-truncate"><i class="fas fa-upload"></i> Subir imagen</label>
    </div>
    <br />
    <label></label>
    <label>Color: </label>
    @Html.TextBoxFor(x => x.color, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.color, null, new { @class = "text-danger" })
    <div class="inputs motor-fecha">
        <div class="motor">
            <label>
                Motor:
                @Html.TextBoxFor(x => x.motor, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.motor, null, new { @class = "text-danger" })
            </label>
        </div>
        <div class="fecha">
            <label>
                Fecha Lanzamiento:
                @if (Model.idAuto > 0)
                {
                    @Html.TextBoxFor(x => x.fechaLanzamiento, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.fechaLanzamiento, new { @class = "form-control", @type = "Date" })
                    @Html.ValidationMessageFor(x => x.fechaLanzamiento, null, new { @class = "text-danger" })
                }
            </label>
        </div>
    </div>


    <label>Descripción: </label>
    @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "text-danger" })

    @if (Model.idAuto > 0)
    {


        <input type="submit" value="Guardar" />
    }
    else
    {
        <input type="submit" value="Registrar" />
    }
</div>
}

<script>
    $('.custom-file-input').on('change', function () {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
</script>