@using DAL.Models
@model List<tabInventario>
@{
    ViewBag.Title = "MostrarAutos";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><h1>Listado de Inventario</h1></center>
            <br />
            
            <table class="table-hover table-striped ">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Precio Venta</th>
                        <th>Imagen</th>
                        <th>Existencia</th>
                        <th>Fecha registro</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var car in Model)
                        {
                    <tr>
                        <td>@car.tabAutos.fk_marca</td>
                        <td>@car.tabAutos.modelo</td>
                        <td><b>$</b>@car.tabAutos.precio</td>
                        <td>@car.tabAutos.precio</td>
                        <td>@car.existenciaProducto</td>
                        <td>@car.tabAutos.fechaRegistro</td>

                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>