@using DAL.Models
@model List<tabInventario>
@{
    ViewBag.Title = "MostrarAutos";
    var YaEnCarrito = ViewBag.ListaCarrito;
    int idsprecios = 0;
}
<link href="~/Content/Diseños/tarjetas.css" rel="stylesheet" />
<center><h1 id="titulo">AUTOS</h1></center>
@if (Session["UserRol"].Equals("admin"))
{
    <div class="container">
        <button style="margin-left: 25px; margin-bottom: -260px;" class="btn agregarBtn" onclick="window.location.href='/Inventario/AgregarOEditarAutos'"><i class="fas fa-plus"></i> Agregar Auto</button>
    </div>
    if (Model.Count() == 0)
    {
        <h2>No hay autos disponibles!</h2>
        <h2 class="car"><i class="fas fa-car-side"></i></h2>
        <script>document.getElementById("titulo").style.display = "none";</script>
    }
}
else
{
    if (Model.Count() == 0)
    {
        <h2>No hay autos disponibles!</h2>
        <h2 class="car"><i class="fas fa-car-side"></i></h2>
        <script>document.getElementById("titulo").style.display = "none";</script>
    }
    else
    {
        var contarNoHay = 0;
        var contarAmbos = 0;
        foreach (var car in Model)
        {
            contarAmbos = contarAmbos + 1;//Cuenta la cantidad de autos
            if (car.existenciaProducto == 0)
            {
                contarNoHay = contarNoHay + 1;//Cuando la existencia en inventario = 0
            }
        }
        //Valida si todos los autos tienen su existencia a cero
        if (contarAmbos == contarNoHay)
        {
            <h2>No hay autos disponibless!</h2>
            <h2 class="car"><i class="fas fa-car-side"></i></h2>
            <script>document.getElementById("titulo").style.display = "none";</script>
        }
    }

}
@if (Session["UserRol"].Equals("admin"))
{
    if (Model.Count() > 0)
    {
        <center>
            <button class="btn btn-info" onclick="mostrarTarjeta()" id="btnTarjeta">Ver en tarjetas</button>
            <button class="btn btn-info" onclick="mostrarTabla()" id="btnTabla">Ver en tabla</button>
            <button class="btn btn-success" onclick="Comprando()" id="agregar"> <i class="fas fa-plus"></i> Agregar A Inventario </button>
            <button class="btn btn-success" id="cancelar"> <i class="fas fa-plus"></i> Cancelar</button>
            <button class="btn btn-success" onclick="Comprando()"> <i class="fas fa-plus"></i> Finalizar compra </button>
            <input type="checkbox" id="comprando" />
        </center>
        <br />
        <br />
        <br />
        <center><span id="errorSpan" class="text-danger"></span> </center>
        <div class="container" id="tabla" style="display: none">
            <div class="row">
                <div class="col-md-12">
                    <table class="table-hover table-striped ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Imagen</th>
                                <th>Color</th>
                                <th>Cantidad</th>
                                <th>Motor</th>
                                <th>Precio</th>
                                <th>Descripción</th>
                                <th>Fecha registro</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var car in Model)
                                {
                            <tr>
                                <td>@car.fk_auto</td>
                                <td>@car.tabAutos.NombreMarca</td>
                                <td>@car.ModeloAuto</td>
                                <td>@car.tabAutos.imagen</td>
                                <td>@car.tabAutos.color</td>
                                <td style=" position:center"><input class="cantidad1" id="@car.fk_auto" style="width: 70px" type="number" /></td>

                                <td>@car.tabAutos.motor</td>
                                <td class="precio1" style=" border: none; position:center"><input onblur="ValidarPrecios(@idsprecios)" class="precios1" id="@idsprecios" style="width: 70px" type="text" value="@car.precio" /></td>
                                <td>@car.tabAutos.descripcion</td>
                                <td>@car.tabAutos.fechaRegistro</td>
                                <td width="20">
                                    <button class="btn btn-info" onclick="window.location.href='/Inventario/AgregarOEditarAutos?id=' +@car.tabAutos.idAuto"><i class="fas fa-pencil-alt"></i> Editar</button>
                                </td>
                                <td width="20">

                                    <button class="btn btn-danger" onclick="AlertaDelete('/Inventario/EliminarAutos?id=' +@car.tabAutos.idAuto, @car.existenciaProducto)"><i class="fas fa-trash-alt"></i> Eliminar</button>

                                </td>
                         
                            </tr>
                                    idsprecios++;
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }

}
<br />
<div class="containerCards" id="tarjetas">
    @if (Model.Count() > 0)
    {
        foreach (var car in Model)
        {
            if (Session["UserRol"].Equals("admin"))
            {
                <div class="card">
                    <img src="~/Content/img_cars/@car.Image" />
                    <h4>@car.MarcaAuto @car.precio</h4>
                    <p>Modelo: @car.ModeloAuto Motor: @car.tabAutos.motor</p>
                    <p>Cantidad disponible: @car.existenciaProducto</p>
                    <p>@car.tabAutos.descripcion</p>
                    <label>
                        <button class="btn btn-info" onclick="window.location.href='/Inventario/AgregarOEditarAutos?id=' +@car.tabAutos.idAuto"><i class="fas fa-pencil-alt"></i> Editar</button>

                        <button class="btn btn-danger" onclick="AlertaDelete('/Inventario/EliminarAutos?id=' +@car.tabAutos.idAuto, @car.existenciaProducto)"><i class="fas fa-trash-alt"></i> Eliminar</button>

                    </label>
                </div>
            }
            else
            {
                if (car.existenciaProducto > 0)
                {
                    <div class="card">
                        <img src="~/Content/img_cars/@car.Image" />
                        <h4>@car.MarcaAuto @car.precio</h4>
                        <p>Modelo: @car.ModeloAuto Motor: @car.tabAutos.motor</p>
                        <p>Cantidad disponible: @car.existenciaProducto</p>
                        <p>@car.tabAutos.descripcion</p>

                        @if (YaEnCarrito != null && YaEnCarrito.Contains(car.fk_auto))
                        {
                            <button class="btn btn-danger" onclick="SacarDelCarrito(@car.fk_auto)">Quitar del carrito</button>
                        }
                        else
                        {
                            <button class="btn btn-info" onclick="AgregarAlCarrito('@car.fk_auto')">Añadir al carrito</button>
                        }




                    </div>
                }

            }
        }
    }
</div>
<script src="~/Scripts/tarjetasTablas.js"></script>
<script src="~/Scripts/Alerta.js"></script>
<script src="~/Scripts/PeticionesJQuerry/AgregarAlCarrito.js"></script>
<script src="~/Scripts/PeticionesJQuerry/SacarDelCarrito.js"></script>

<script>

    function Comprando() {

        var ArrayidsAutos = new Array(@Model.Count())
        var ArrayCantidades = new Array(@Model.Count())
        var ArrayidsPrecios= new Array(@Model.Count())
        var ArrayPrecios = new Array(@Model.Count())
        // Capturación de elementos input que contienen los valores
        var cantidades = document.getElementsByClassName("cantidad1")
        var precios = document.getElementsByClassName("precios1")
        //LLenado de valores
        for (var i = 0; i < @Model.Count(); i++) {
            ArrayidsAutos[i] = cantidades[i].id
            ArrayCantidades[i] = cantidades[i].value
            ArrayidsPrecios[i] = precios[i].id
            ArrayPrecios[i] = precios[i].value.trim()
            if (ArrayCantidades[i] > 0 && ArrayPrecios[i] < 1000) {
                $("#errorSpan").html("Ingrese precio en campos cuya cantidad sea mayor a cero");
                ArrayPrecios[i].focus();
            }
        }

        //ENVÍO DE DATOS AL CONTROLADOR
        $.ajax({
            url: '/AgregarAInventario/RealizarCompras',
            data: { IdAutos: ArrayidsAutos, Cantidades: ArrayCantidades, precios: ArrayPrecios},
            type: 'POST',
            success: function (resultado) {
                if (resultado == true) {
                     //INICIA ELDIALOGO DE NOTIFICACIÓN
                    Swal.fire({
                        title: '¡Compra realizada exitosamente!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                        confirmButtonPosition: 'center',
                        confirmButtonColor: '#0067b8',
                        timer: 9000,
                    })
                    window.location.reload(true);
                    //FINALIZA EL DIALOGO E NOTIFICACIÓN
                } else {
                    //INICIA ELDIALOGO DE NOTIFICACIÓN
                    Swal.fire({
                        title: '¡No se pudo completar la compra!',
                        text: "Es posible que no se haya agragado cantidad a ningún producto",
                        icon: 'error',
                        confirmButtonText: 'OK',
                        confirmButtonPosition: 'center',
                        confirmButtonColor: '#0067b8',
                        timer: 9000,
                    })
                    //FINALIZA EL DIALOGO E NOTIFICACIÓN
                }
            }
        });
    }

    // Validar que precios sean numeros enteros o decimal
    function ValidarPrecios(id) {
        const isValid = /^(\d+)$|^(\d+\.\d{1,10})?$/;
        var precios = document.getElementsByClassName("precios1")
        precios[id].value = precios[id].value.trim()
        if (!isValid.test(precios[id].value )) {
            precios[id].focus();
            $("#errorSpan").html("Precio debe ser numero entero o decimal");
        } else if (precios[id].value < 1000) {
            $("#errorSpan").html("El precio debe ser mayor a 1000");
            precios[id].focus();
        }
        else {
            $("#errorSpan").html("");
        }

    }
</script>