@using DAL.Models
@model List<tabDetalleVentas>
@{
    ViewBag.Title = "MostrarProductos";
    var ventas = ViewBag.Ventas;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if (Model.Count() > 0)
            {
                <center>
                    <h1> Ventas</h1>
                </center>
                <br />
                <button class="btn btn-danger"
                        onclick="window.location.href = '/Reportes/ImprimirDetalleVentas'">
                    <i class="fas fa-print"></i> PDF
                </button>

                <table>
                    <thead>
                        <tr>
                            <th>N° FACTURA</th>
                            <th>CLIENTE</th>
                            <th>FECHA</th>
                            <th>TOTAL</th>
                            <th>DETALLE VENTA</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var ven in ventas)
                        {
                            <tr>
                                <td>@ven.IdVenta</td>
                                <td>@ven.tabClientes.nombre </td>
                                <td> @ven.Fecha</td>
                                <td> $ @ven.Total</td>

                                <td>
                                    <table style="margin-top: 1px">
                                        <thead>
                                            <tr>

                                                <th>Marca y Modelo </th>
                                                <th>Cantidad </th>
                                                <th>Precio Venta</th>
                                                <th>SubTotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                foreach (var prod in Model)
                                                {
                                                    if (prod.idVenta == ven.IdVenta)
                                                    {
                                                        <tr>
                                                            <td>@prod.marcaModelo</td>
                                                            <td>@prod.cantidad</td>
                                                            <td>@prod.precio</td>
                                                            <td>@prod.subTotal</td>
                                                        </tr>
                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>

                                </td>
                            </tr>


                        }



                    </tbody>
                </table>

            }
            else
            {
                <br>
                <h2>No se ha realizado ninguna venta</h2>
                <h2 ><i class="fas fa-frown"></i></h2>
            }
        </div>
    </div>
</div>









