@using DAL.Models
@model List<tabDetalleVentas>
@{
    ViewBag.Title = "MostrarProductos";
    var ventas = ViewBag.Ventas;

}

z
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <center>
    
                    <h1>Ventas</h1>
              
            </center>
            <br />

            <br />
            <table class="table ">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ventas != null)
                    {
                        foreach (var ven in ventas)
                        {
                            <tr style="padding: 0; margin:0; background-color: cornflowerblue">

                                <td>@ven.FkCliente </td>
                                <td> @ven.Fecha</td>
                                <td> $ @ven.Total</td>

                                <td>
                                    <table class="table " style="padding: 0; margin:0; border: solid 2px black">
                                        <thead style="background-color: darkgray; padding: 0; margin: 0; border: solid 2px black">
                                            <tr style="border: solid 2px black; text-align: center">

                                                <th>Marca y Modelo </th>
                                                <th>Cantidad </th>
                                                <th>Precio Venta</th>
                                                <th>SubTotal</th>
                                                <th rowspan="2">
                                                    <button class="btn btn-success"
                                                            onclick="window.location.href=''">
                                                        Ver Detalles
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                foreach (var prod in Model)
                                                {
                                                    if (prod.idVenta == ven.IdVenta)
                                                    {
                                                        <tr style="border: solid 2px black; text-align: center">

                                                            <td>@prod.marcaModelo</td>
                                                            <td>@prod.cantidad</td>
                                                            <td>@prod.precio</td>
                                                            <td>@prod.subTotal</td>


                                                        </tr>
                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>

                                </td>
                            </tr>


                        }

                    }



                </tbody>
            </table>


        </div>
    </div>
</div>









