@using DAL.Models
@using BAL.AgregarAInventario;
@model List<tabInventario>

@{
    ViewBag.Title = "MostrarAutos";
    var tabla = ViewBag.Proveedor;
    tabProveedores prov = new tabProveedores();
}

@if (Model.Count() > 0)
{
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <center><h1>Inventario</h1></center>
                <br />

                <table class="table-hover table-striped " id="tabla">
                    <thead>
                        <tr>
                            <th>MARCA</th>
                            <th>MODELO</th>
                            <th>PRECIO VENTA</th>
                            <th>EXISTENCIA</th>
                            <th>ESTADO</th>
                            <th>ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var car in Model)
                            {
                                <tr>
                                    <td>@car.MarcaAuto</td>
                                    <td>@car.ModeloAuto</td>
                                    <td><b>$</b>@car.precio</td>
                                    <td>@car.existenciaProducto</td>
                                    <td>@car.estado</td>
                                    <td>


                                        <button class="btn btn-danger"
                                                onclick="window.location.href='/AgregarAInventario/SeleccionarProducto?id='+@car.idInventario">
                                            Seleccionar
                                        </button>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>




                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <br />
                            <h4>Elegir Proveedor</h4>
                            <div class="form-group">
                                @Html.DropDownListFor(x => prov.idProveedor, (IEnumerable<SelectListItem>)ViewBag.listaProveedores, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => prov.idProveedor, null, htmlAttributes: new { @class = "text-danger" })
                            </div>
                        </center>

                        <br />
                        <table class="table-hover table-striped" id="tabComprar">
                            <thead style="color: white">
                                <tr>
                                    <td>ID</td>
                                    <td>MARCA</td>
                                    <td>MODELO</td>
                                    <td>CCANTIDAD</td>
                                    <td>PRECIO</td>
                                    <td>TOTAR</td>
                                    <td>ACCION</td>
                                </tr>
                            </thead>

                            @if (Model.Count() > 0)
                            {
                                foreach (var auto in AgregarAInventario.listaAutosAComprar)
                                {
                                    <tr>
                                        <td>@auto.Id</td>
                                        <td>@auto.Marca</td>
                                        <td>@auto.Modelo</td>
                                        <td>@auto.Cantidad</td>
                                        <td>$ @auto.PrecioCompra</td>
                                        <td>@auto.SubTotal</td>
                                        <td>

                                            <button class="btn btn-danger"
                                                    onclick="window.location.href='/AgregarAInventario/EliminarElementoDeLaLista?id='+@auto.Id">
                                                Quitar
                                            </button>

                                        </td>
                                    </tr>

                                }

                            }
                        </table>
                        <h4 id="total" style="text-align: right; margin-right: 30px">Total: $ @AgregarAInventario.TotalAPagar</h4>

                        <center>

                            <label>
                                <button style="float: left; margin-right: 20px" class="btn btn-primary" id="BtnRealizarVenta"
                                        onclick="window.location.href = '/AgregarAInventario/RealizarCompras'">
                                    Realizar Compra
                                </button>

                                <button class="btn btn-success"
                                        onclick="window.location.href = '/Compras/MostrarCompras'">
                                    Ver compras
                                </button>
                            </label>
                        </center>
                    </div>
                </div>

            </div>
        </div>
    </div>

    if (!AgregarAInventario.listaAutosAComprar.Any())
    {
        <script>document.getElementById("BtnRealizarVenta").style.display = "none"</script>
        <script>document.getElementById("tabComprar").style.display = "none"</script>
        <script>document.getElementById("total").style.display = "none"</script>
    }
}
else
{
    <br />
    <h2>Inventario vacio</h2>
    <center><h2 class="cajaCompra"><i class="fas fa-box-open"></i></h2></center>
}
