@using DAL.Models
@model List<tabDetalleCompras>
@{
    ViewBag.Title = "MostrarCompras";
    var Compras = ViewBag.Compras;
}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <center>
                    <h1>Compras</h1>
                </center>
                <br />
                <button class="btn btn-success"
                        onclick="window.location.href='AgregarOEditarCompras'"><i class="fas fa-plus"></i>
                    Agregar A Inventario
                </button>
                <br />
                <center>
                    <table class="" style="margin-bottom: 10px">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Compras != null)
                            {
                                foreach (var com in Compras)
                                {
                                    <tr style="padding: 0; margin:0;">
                                        

                                        <td> @com.Fecha</td>
                                        <td> $ @com.Total</td>

                                        <td>
                                            <table class="" style=" margin-bottom:10px; border: solid 2px black">
                                                <thead style=" padding: 0; margin: 0; border: solid 2px black">
                                                    <tr style="border: solid 2px black; text-align: center">

                                                        <th>Marca y Modelo </th>
                                                        <th>Cantidad </th>
                                                        <th>Precio Compra</th>
                                                        <th>SubTotal</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.Count() > 0)
                                                    {
                                                        foreach (var prod in Model)
                                                        {
                                                            if (prod.idCompra == com.IdCompra)
                                                            {
                                                                <tr style="border: solid 2px black; text-align: center">

                                                                    <td>@prod.marcaModelo</td>
                                                                    <td>@prod.cantidad</td>
                                                                    <td>@prod.precioCompra</td>
                                                                    <td>@prod.subTotal</td>


                                                                </tr>
                                                            }
                                                        }
                                                    }

                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>


                                }

                            }



                        </tbody>
                    </table>
                    </center>

</div>
        </div>
    </div>


