@using DAL.Models
@model List<tabDetalleCompras>
@{
    ViewBag.Title = "MostrarCompras";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><h1>Listado de Autos</h1></center>
            <br />
            <button class="btn agregarBtn" onclick="window.location.href='/Compras/AgregarOEditarCompras'">Vender</button>
            <table class="table-hover table-striped ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var com in Model)
                        {
                    <tr>
                        <td>@com.idDetalleCompra</td>
                        <td>@com.MarcaAuto</td>
                        <td>@com.ModeloAuto</td>
                        <td>@com.cantidad</td>
                        <td>$ @com.PrecioAuto</td>
            
                        <td width="20">
                            <button class="btn btn-info" onclick="window.location.href='/Compras/AgregarOEditarCompras?id=' +@com.idCompra">Editar</button>
                        </td>
                        <td width="20">
                            <button class="btn btn-danger" onclick="window.location.href='/Compras/EliminarCompras?id=' +@com.idCompra">Eliminar</button>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">
                                <center class="text-danger">
                                    ¡No hay datos para mostrar!
                                </center>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>