@using DAL.Models;
@model tabUsuarios

@{
    ViewBag.Title = "EditarOCrearUsuarios";
}
<link href="~/Content/Diseños/formularios.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.idUsuario)
<div class="formulario usuario">
    @if (Model.idUsuario > 0)
    {
        <h3>Editar usuario</h3>
    }
    else
    {
        <h3>Agregar usuario</h3>
    }

    <label>Nombre: </label>
    @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "text-danger" })
    <label>Apellido: </label>
    @Html.TextBoxFor(x => x.apellido, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.apellido, null, new { @class = "text-danger" })
    <label>Edad: </label>
    @Html.TextBoxFor(x => x.edad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.edad, null, new { @class = "text-danger" })
    <label>Correo: </label>
    @Html.TextBoxFor(x => x.correo, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.correo, null, new { @class = "text-danger" })
    @Html.ValidationMessage("CorreoExiste", new { @class = "text-danger" })
    <label>Contraseña: </label>
    @Html.PasswordFor(x => x.pass, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.pass, null, new { @class = "text-danger" })
    <label>
        Estado:
        Activo @Html.RadioButtonFor(x => x.isActivo, true)
        Inactivo @Html.RadioButtonFor(x => x.isActivo, false)
    </label>
    <label>Rol: </label>
    @Html.EnumDropDownListFor(x => x.rol, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.rol, null, new { @class = "text-danger" })
    @if (Model.idUsuario > 0)
    {
        <input type="submit" value="Guardar" />
    }
    else
    {
        <input type="submit" value="Registrar" />

    }
</div>
}

